//color scheme
$white: #FFF;
$snow: #FAFAFA;
$quickSilver: #A0A0A0;

$jellyBean: #E56353;
$salmon: #E97F72;
$pastelPink: #F0A9A1;

$graniteGray: #686963;
$taupeGray: #91918D;
$gray: #BABAB8;

//Font Family

$raleway: 'Raleway', sans-serif;

//Font Sizes

$xxx-large: 100px;
$xx-large: 70px;
$x-large: 50px;
$large: 30px;
$medium: 18px;
$small: 16px;

//Font Weight

$bold: 700;
$regular: 400;
$light: 200;