.header{
    background-color: $jellyBean;
    height: 45rem;
    &__title{
        font-weight: $light;
        font-size: $xx-large;
        color: $white;
        text-align: center;
        padding-top: 15rem;
        
        &--bold{
            display: block;
            font-weight: $bold;
            text-transform: uppercase;
        }
    }

}